@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Dashboard";
}

    <div class="left-dashboard">
        <div class="left-dashboard__top__container">
            <h1><span>F</span><span>S</span></h1>
            <h1><span>F</span><span>T</span></h1>
        </div>
        <div class="left-dashboard__mid__container">
            @if (String.IsNullOrEmpty(httpContextAccessor.HttpContext.Session.GetString("username")))
            {
                <h3>Login</h3>
            }
            else
            {
                <h3 style="font-size: 22px">@httpContextAccessor.HttpContext.Session.GetString("username")</h3>
                <h4>@httpContextAccessor.HttpContext.Session.GetString("role")</h4>

            }
        </div>
        <div class="left-dashboard__bottom__container">
            <ul class="left-dashboard__bottom__container__list">
                <li>@Html.ActionLink("Home", "Landing", "Home")</li>
                <li>@Html.ActionLink("All Questions", "Questions", "Question")</li>
                <li>@Html.ActionLink("Ask a Question", "Ask", "Question")</li>
                <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
            </ul>
            <a class="left-dashboard__bottom__container-fsftlink">www.fullstackfulltime.com</a>
        </div>
    </div>

<div class="right-dashboard">
    <div class="right-dashboard__content">
        <div>@Html.ActionLink("C#", "CSharp", "Question")</div>
        <div>@Html.ActionLink("JS", "JS", "Question")</div>
        <div>@Html.ActionLink("PHP", "PHP", "Question")</div>
        <div>@Html.ActionLink("JAVA", "Java", "Question")</div>
        <div>@Html.ActionLink("CSS", "CSS", "Question")</div>
    </div>

    <div>
        <h3>Current Language</h3>
        <h3>@httpContextAccessor.HttpContext.Session.GetString("CurrentLanguage")</h3>
    </div>
</div>

