@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@model FullStackFullTime.ViewModels.Question
@{
    ViewData["Title"] = "Question";

    <div class="questions__container">
        <h1 class="questions__container-title">@Model.ModelQuestion.QuestionTitle</h1>
        <p class="questions__container-text">@Model.ModelQuestion.QuestionText</p>
        <p class="questions__container-date">@Model.ModelQuestion.CreateDate.ToString("MM/dd/yyyy")</p>
        <p class="questions__container-language">@Model.ModelQuestion.CategoryLanguage</p>


        <h2 class="questions__container-commenttitle">Comments</h2>
        @if (String.IsNullOrEmpty(httpContextAccessor.HttpContext.Session.GetString("username")))
        {
            <h1 class="questions__container-loginerror">Log in to leave a comment or answer a question</h1>
            <div class="questions__container-spacer"></div>
        }
        else
        {
            <div class="questions__container__commentform">
                <h2 class="questions__container__commentform-title">Add a Comment</h2>
                <form asp-controller="Question" asp-action="AddComment" method="post">
                    <input type="hidden" name="userID" value="@httpContextAccessor.HttpContext.Session.GetString("userID")" />
                    <input type="hidden" name="questionID" value="@Model.ModelQuestion.QuestionID" />
                    <input class="questions__container__commentform-textinput" type="text" name="commentText" />
                    <input class="questions__container__commentform-submit" type="submit" value="Add Comment"/>
                </form>
            </div>
            <div class="questions__container-spacer"></div>
        }

        @foreach (var comment in Model.Comments)
        {
            <div class="questions__container__comment__container">
                <h3 class="questions__container__comment__container-username">@comment.Username</h3>
                <p class="questions__container__comment__container-text">@comment.CommentText</p>
                <p class="questions__container__comment__container-date">@comment.CreateDate.ToString("MM/dd/yyyy")</p>
            </div>
        }
    </div>
}

